<div
  class="login-register"
  style="background-image:url(assets/images/sezin-e-work-image.jpg);"
>
  <div class="login-register-box">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="text-center">
            <img
              alt="homepage"
              src="assets/images/sezin-logo-dark.png"
              style="height: 50px;"
            />
            <h4 class="m-t-0">Başak Sanat Giriş</h4>
          </div>

          <div fxLayout="row wrap">
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field>
                <input
                  matInput
                  placeholder="E-Mail"
                  [formControl]="form.controls['uname']"
                />
              </mat-form-field>
              <small
                *ngIf="
                  form.controls['uname'].hasError('required') &&
                  form.controls['uname'].touched
                "
                class="text-danger support-text"
                >Email gereklidir.</small
              >
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field>
                <input
                  matInput
                  type="password"
                  placeholder="Şifre"
                  [formControl]="form.controls['password']"
                />
              </mat-form-field>
              <small
                *ngIf="
                  form.controls['password'].hasError('required') &&
                  form.controls['password'].touched
                "
                class="text-danger support-text"
                >Şifre gereklidir.</small
              >
            </div>
            <!-- col half-->
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
              <mat-checkbox color="warn">Beni Hatırla</mat-checkbox>
            </div>
            <!-- col half-->
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="text-right">
              <a [routerLink]="['/auth/forgot-password']" class="link"
                >Şifremi Unuttum</a
              >
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <button
                style="outline: none;"
                mat-raised-button
                color="primary"
                class="btn-block btn-lg m-t-20 m-b-20"
                type="submit"
                [disabled]="!form.valid"
              >
                <ng-container *ngIf="!(loading$ | async)">
                  Giriş Yap
                </ng-container>
                <ng-container *ngIf="loading$ | async">
                  <div
                    class="d-flex justify-content-center align-items-center p-1 uploader-status"
                  >
                    <mat-spinner diameter="40"></mat-spinner>
                  </div>
                </ng-container>
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
